/* ANUNCIO.PHP */
#contenedor4 {
    display: grid;
    grid-template-rows: 13% 25% 80% 6%;
    grid-template-columns: 100%;
}

#navAnuncio {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

#navAnuncio img {
    width: 10%;
    border-radius: 50%;
}

#imgAnuncio {
    width: 100%;
    border-radius: 15px;
}

#containerAnuncio {
    padding: 20px;
    grid-column: 1/2;
    grid-row: 2/3;
    border-radius: 15px;
}



#containerAnuncio input[type="button"] {
    font-size: 24px;
}

/* GENERAL */
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0 auto;
    font-family: Candara;
    font-size: 30px;
}

header {
    padding-top: 20px;
    padding-left: 20px;
    grid-column: 1/2;
    grid-row: 1/2;
}

header p {
    margin: 0;
    font-size: 24px;
}

header img {
    width: 50%;
}

footer {
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #666666;
    padding: 5px 0px;
    grid-column: 1/2;
    grid-row: 4/5;
}

#divIconos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer a {
    width: 10%;
    margin-right: 20px;
}

footer a img {
    width: 100%;
}

