/* ANUNCIO.PHP */
#navAnuncio {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    height: 100px;
    font-size: 35px;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

#fotoPerfil {
    width: 15%;
    border-radius: 50%;
}

#navAnuncio p {
    width: 20%;
}

#containerAnuncio {
    padding: 20px;
    grid-column: 1/2;
    grid-row: 2/3;
    border-radius: 15px;
    font-size: 34px;
    text-align: center;
}

#containerAnuncio a {
    font-size: 4.5vw;
    background: #850018;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

#containerAnuncio a:hover {
    background-color: #ac0018;
    transition: background-color 300ms ease-out;
}

#contenedor4 {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 100%;
}

#anuncios {
    flex-wrap: wrap;
    display: flex;
    background-color: #cececa;
    grid-column: 1/2;
    grid-row: 3/4;
    justify-content: center;
}

#fotoAnuncio{
    object-fit: cover;
    width: 95%;
}

.anuncio {
    margin: 20px 10px 20px 10px;
    border-radius: 15px;
    padding: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.anuncio * {
    width: 100%;
}

.anuncio h2 {
    margin: 0;
    font-size: 8vw;
}
.anuncio h3{
    font-size: 7vw;
}
.anuncio p{
    font-size: 6vw;
}

@media screen and (min-width: 769px) {
    header img {
        width: 50%;
        margin-bottom: 50px;
    }

    #navAnuncio a{
        font-size: 50px;
    }



    #divIconos a {
        width: 5%;
    }

    #fotoAnuncio {
        width: 50%;
    }

    footer {
        font-size: unset;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    footer p {
        font-size: 1vw;
        margin: 0;
    }

    footer a img {
        width: 50%;
    }

    footer div {
        width: 33%;
    }

    #divIconos p {
        width: 100%;
        margin-bottom: 10px;
    }

    #divIconos a {
        width: 15%;
    }

    #divIconos {
        width: 33%;
    }

}