/* CATEGORIA.PHP */

#anuncios {
    flex-wrap: wrap;
    display: flex;
    background-color: #cececa;
    grid-column: 1/2;
    grid-row: 3/4;
    justify-content: center;
}

.imagenDiv img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.anuncio {
    margin: 20px 10px 20px 10px;
    width: 47%;
    border-radius: 15px;
    padding: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.anuncio > * {
    width: 100%;
}

.anuncio img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 10px;
}

.anuncio p {
    line-height: 1.5em;
    width: 100%;
    font-size: 20px;
}

.anuncio h2 {
    margin: 0;
}

nav input {
    font-size: 34px;
}

#buscar {
    margin-left: 20px;
    width: 15%;
}

nav {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 250px;
}

nav input[type="text"] {
    width: 75%;
    background: url("../img/lupa.svg") no-repeat 7px;
    padding: 5px;
    padding-left: 40px;
    font-size: 34px;
}

nav input[type="button"] {
    width: 30%;
}

#botones {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
