/* BUSQUEDA.PHP */

#anuncios {
    flex-wrap: wrap;
    display: flex;
    background-color: #cececa;
    grid-column: 1/2;
    grid-row: 3/4;
    justify-content: center;
}

.imagenDiv img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.anuncio {
    margin: 20px 10px 20px 10px;
    width: 90%;
    border-radius: 15px;
    padding: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
}

.anuncio > * {
    width: 100%;
}

.anuncio img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 10px;
}

.anuncio p {
    line-height: 1.5em;
    width: 100%;
    font-size: 20px;
}

.anuncio h2 {
    margin: 0;
}

nav input {
    font-size: 34px;
}

#buscar {
    margin-left: 20px;
    width: 15%;
}

nav {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav input[type="text"] {
    width: 75%;
    padding: 5px;
    padding-left: 40px;
    font-size: 34px;
}

#buscar {
    width: 20%;
}

#botones {
    display: flex;
    justify-content: space-around;
    flex-basis: 100%;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

input[type="button"] {
    font-size: 4.5vw;
    border-radius: 5px;
    border: 2px solid #690000;
    color: #850018;
    background: linear-gradient(to right, #850018 50%, #ebebeb 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .25s ease-out;
    padding: 10px;
}

nav a {
    font-size: 4.5vw;
    background: #850018;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ac0018;
    transition: background-color 300ms ease-out;
}

nav form input[type="submit"] {
    font-size: 4.5vw;
    border-radius: 5px;
    border: 2px solid #690000;
    color: #850018;
    background: linear-gradient(to right, #850018 50%, #ebebeb 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .25s ease-out;
}

nav form input[type="submit"]:hover, nav input[type="button"]:hover {
    background-position: left bottom;
    color: white;
}

#enlaces {
    flex-basis: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

nav input[type="button"] {
    flex-basis: 40%;
}

#enlaces a {
    flex-basis: 40%;
    text-align: center;
    padding: 10px;
}

form {
    width: 100%;
    padding: 0 10px;
    display: flex;
    margin: 0 10px 10px 10px;
}

nav input[type="text"] {
    font-size: 4.5vw;
    flex: 2;
    border: 2px solid #850018;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    min-height: 45px;
    outline: none;
    background-color: #ebebeb;
    user-select: revert;
}

#contenedor3 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
}

@media screen and (min-width: 769px) {
    header img {
        width: 50%;
        margin-bottom: 50px;
    }

    #botones input{
        font-size: 30px;
    }

    #enlaces a {
        font-size: 30px;
    }

    a.anuncio {
        width: 46%;
    }

    footer p, a {
        font-size: 23px;
    }

    #divIconos a {
        width: auto;
    }

    nav form input[type="text"] {
        padding: 10px 20px;
        font-size: 30px;
        line-height: 0.5em;
        width: 75%;

        flex: none;
    }

    form {
        display: flex;
        justify-content: center;
    }

    #botones {
        margin-bottom: 50px;
    }

    #enlaces {
        margin-bottom: 50px;
    }

    #buscar {
        height: 100%;
        font-size: 30px;
        width: 16%;
    }
}