/* EDITARPERFIL.PHP */
#contenedor5 {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 100%;
}

header {
    grid-column: 1/2;
    grid-row: 1/2;
}
header p {
    margin-top: 30px;
    margin-left: 30px;
}

#datos {
    grid-row: 4/5;
    grid-column: 1/2;
    width: 80%;
    display: flex;
    justify-self: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 15px;
}

footer {
    grid-row: 5/6;
    grid-column: 1/2;
}

#datos input[type="text"],
input[type="password"],
input[type="email"],textarea {
    font-size: 5vw;
    flex-basis: 100%;
    border: 2px solid #850018;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    margin-bottom: 20px;
    outline: none;
    background-color: #ebebeb;
    user-select: revert;
}

#datos  input[type="file"] {
    flex-basis: 100%;
    font-size: 5vw;
    margin-bottom: 15px;
    display: block;
}



input[type="submit"] {
    font-size: 8vw;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #690000;
    background-color: #850018;
    color: white;
    flex-basis: 100%;
}

input[type="submit"]:hover {
    transition: all .25s ease-out;
    background-color: #ac0018;
    color: white;
}

label {
    flex-basis: 100%;
    height: 5%;
    font-size: 6.5vw;
}

h1 {
  margin: 0;
  font-size: 10vw;
  grid-column: 1/2;
  grid-row: 2/3;
  text-align: center;
}

@media screen and (min-width: 769px) {
    header img {
        width: 50%;
        margin-bottom: 50px;
    }

    #contenedor5 {
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: 100%;
    }

    #datos input[type="password"],
    input[type="email"], input[type="text"] {
        padding: 5px 15px;
        font-size: 30px;
    }

    form h1 {
        font-size: 45px;
    }

    form input[type="submit"], form input[type="button"] {
        height: 15%;
        font-size: 30px;
        padding: 10px 20px;
        width: 60%;
        margin-bottom: 30px;
    }

    h1 {
        font-size: 100px;
        margin-bottom: 50px;
    }

    label {
        height: 10%;
        width: 100%;
        margin: 0;
    }

    footer p, a {
        font-size: 23px;
    }

    #divIconos a {
        width: 5%;
    }

    .text {
        font-size: 23px;
    }
  }


#fotoPerfil{
    grid-column: 1/2;
    grid-row: 3/4;
    width: 50%;
    justify-self: center;
}
