/* GENERAL */
input[type="text"], textarea {
    user-select: revert;
}

* {
    box-sizing: border-box;
    user-select: none;
}

html,
body {
    margin: 0 auto;
    font-family: Candara;
    background-color: #dedcdc;
    min-height: 100vh;
}

header {
    padding: 10px 0;
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 35px;
    margin-left: 10px;
}

header p {
    margin-top: 50px;
}

header img {
    width: 70%;
}

footer p {
    font-size: 5vw;
    margin: 0;
}

#divIconos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer a {
    width: 10%;
    margin-right: 20px;
    font-size: 1vw;
}

footer a img {
    width: 65%;
}

footer {
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #666666;
    padding: 5px 0px;
    grid-column: 1/2;
    grid-row: 4/5;
    font-size: 4.5vw;
    position: relative;
    bottom: 0vh;
    flex-direction: column;
}

#divIconos p {
    width: 100%;
}

#divIconos a {
    margin-top: 5px;
    width: 18%;
}

#copy, #ayuda, #divIconos {
    margin-bottom: 10px;
}