/* INDEX.PHP */
nav {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

nav form {
    display: flex;
    justify-content: center;
    margin: 0 5px;
}

nav input[type="text"] {
    font-size: 4.5vw;
    width: 75%;
    border: 2px solid #850018;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    margin-bottom: 20px;
    outline: none;
    background-color: #ebebeb;
    user-select: revert;
}


#buscar {
    margin-left: 20px;
    min-height: 45px;
    margin-bottom: 20px;
}

#botones {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 5px 20px;
}

#categorias {
    grid-column: 1/2;
    grid-row: 3/4;
    padding: 0 1vw;
}

#listaCategorias {
    width: 100%;
    list-style-type: none;
    padding: 1.5vw;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
}

.elementosCategorias {
    width: 100%;
    list-style-type: none;
    margin-bottom: 1vh;
    padding: 10px;
    height: 10%;
    font-size: 6.5vw;
}

.elementosCategorias img {
    width: 3%;
}

.listaSubcategorias {
    width: 100%;
    display: none;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding-left: 1vw;
}

.elementosSubcategorias {
    list-style-type: none;
    line-height: 1.5em;
    font-size: 4.5vw;

    margin: 10px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #850018;
    padding: 5px 15px;
}

.elementosSubcategorias:hover {
    background-color: #ac0018;
    transition: background-color 300ms ease-out;
}

.enlaceSubcategoria {
    color: white;
    text-decoration: none;
}

.flechaAbajo {
    flex-basis: 6.5vw;
    float: right;
}

#flechaSubir {
    float: right;
    width: 12vw;
    margin: 3vw;
}

#contenedor {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    height: 100vh;
}

nav form input[type="submit"] {
    font-size: 4.5vw;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #690000;
    color: #850018;

    background: linear-gradient(to right, #850018 50%, #ebebeb 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .25s ease-out;
}

nav form input[type="submit"]:hover {
    background-position: left bottom;
    color: white;
}

form {
    width: 100%;
}

nav a {
    font-size: 4.5vw;
    background: #850018;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ac0018;
    transition: background-color 300ms ease-out;
}

#buscar {
    margin-left: 20px;
}

/* GENERAL */
* {
    box-sizing: border-box;
    user-select: none;
}


html,
body {
    margin: 0 auto;
    font-family: Candara sans-serif;
    background-color: #dedcdc;
    width: 100%;
    height: 100vh;
}

#usLog {
    text-align: right;
}

header {
    padding: 10px 0 10px 0;
    margin-left: 10px;
    grid-column: 1/2;
    grid-row: 1/2;
    scroll-behavior: smooth;
}

header div {
    display: flex;
    align-items: center;
    margin: 0 3vw;
}

header div p {
    font-size: 4vw;
    float: left;
    flex: 1;
}

header div input[type="button"] {
    font-size: 7vw;
    float: right;
    padding: 1vw 1vw;
    border-radius: 5px;
    border: 2px solid #690000;
    color: #850018;
    flex: 1.1;

    background: linear-gradient(to right, #850018 50%, #ebebeb 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .25s ease-out;
}

header div input[type="button"]:hover {
    background-position: left bottom;
    color: white;
}

header img {
    width: 70%;
}

.divCatImagen {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer {
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #666666;
    padding: 5px 0px;
    grid-column: 1/2;
    grid-row: 4/5;
    font-size: 4.5vw;
    position: relative;
    bottom: 0vh;
    flex-direction: column;
}

#divIconos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer p {
    font-size: 3.5vw;
    margin: 0;
}

footer a img {
    width: 65%;
}

@media (min-width: 769px) {
    nav {
        margin-bottom: 50px;
    }

    #contenedor {
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 100%;
    }


    .listaSubcategorias {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .elementosSubcategorias {
        width: 30%;
        line-height: 1.5em;
        font-size: 14px;
    }

    .divCatImagen {
        justify-content: center;
        border-bottom: #690000 solid 2px;
    }

    #listaCategorias {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: 30px;
    }

    .elementosCategorias {
        flex-basis: 100%;
        font-size: 3vw;
    }

    .enlaceSubcategoria {
        display: flex;
        justify-content: center;
        font-size: 1.5vw;
        padding: 7px 0;
    }

    .flechaAbajo {
        display: none;
    }


    #botones a {
        font-size: 2vw;
        flex-basis: 30%;
        text-align: center;
    }

    form {
        margin-bottom: 20px;
    }

    #flechaSubir {
        display: none;
    }

    form input[type="text"] {
        padding: 1px 5px;
        font-size: 30px;
    }

    #buscar {
        height: 10%;
        font-size: 30px;
    }

    header {
        margin-bottom: 25px;
    }

    header div {
        align-items: flex-start;
    }

    header div p {
        font-size: 2vw;
        flex: 2;
        margin: 10px 0 0 0;
    }

    header img {
        width: 25%;
    }

    header div input[type="button"] {
        font-size: 2.5vw;
    }

    footer p, a {
        font-size: 23px;
    }

    #divIconos a {
        width: 5%;
    }

    #usLog {
        font-size: 2vw;
        margin-left: 25px;
        flex: 1;
    }

    footer {
        font-size: unset;
    }

    footer p {
        font-size: 1vw;
        margin: 0;
    }

    footer a img {
        width: 50%;
    }
}