/* REGISTRO.PHP y LOGIN.PHP */
#contenedor2 {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

form {
    line-height: 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-row: 2/4;
    grid-column: 1/2;
}

form p {
    text-align: center;
}

form h1 {
    text-align: center;
    margin-bottom: 30px;
    line-height: 1.3em;
    font-size: 8vw;
    flex-basis: 100%;
}

form input[type="password"],
input[type="email"], input[type="text"] {
    width: 75%;
    border: 1px solid #850018;
    border-radius: 20px;
    padding: 3vw 1vw;
    margin-bottom: 20px;
    outline: none;
    background-color: #ebebeb;
    font-size: 8vw;
    user-select: revert;
}

input[type="text"]:hover {
    box-shadow: 0 0 10px #690000;
}

form input[type="button"], form input[type="submit"] {
    width: 75%;
    padding: 10px 5px;
    border-radius: 20px;
    border: 1px solid #690000;
    font-size: 8vw;
    margin: 10px 0 10px 0;
    background-color: #850018;
    color: white;
}

form input[type="submit"]:hover, form input[type="button"]:hover {
    background-color: #ac0018;
    transition: background-color 300ms ease-out;
}

#divLogin {
    width: 100%;
    text-align: center;
    color: #690000;
    text-decoration: #690000;
    padding: 0 0 15px 0;
}

#divLogin a {
    font-size: 6vw;
    list-style: none;
    color: #690000;
}

#divLogin a:hover {
    color: #ac0018;
    transition: background-color 500ms ease-out;
}

#separar {
    height: 2px;
    background: black;
    width: 100%;
    margin-bottom: 10px;
}

#pass {
    background-color: #a7afae;
}


@media (min-width: 769px) {
    header {
        justify-self: center;
        width: 50%;
    }

    header img {
        width: 25%;
    }

    form {
        width: 50%;
        justify-self: center;
    }

    form input[type="password"],
    input[type="email"], input[type="text"] {
        padding: 0 15px;
        font-size: 1.3vw;
        width: 60%;
    }

    form h1 {
        font-size: 2vw;
        margin: 0;
    }

    form input[type="submit"], form input[type="button"] {
        font-size: 1.7vw;
        padding: 0;
        width: 60%;
        margin-bottom: 30px;
    }

    #divLogin a {
        font-size: 1.7vw;
    }

    footer {
        font-size: unset;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    footer p {
        font-size: 1vw;
        margin: 0;
    }

    footer a img {
        width: 50%;
    }

    footer div {
        width: 33%;
    }

    #divIconos p {
        width: 100%;
        margin-bottom: 10px;
    }

    #divIconos a {
        width: 15%;
    }

    #divIconos {
        width: 33%;
    }
}