/*publicarAnuncios*/

#contenedor6 {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100vh;
}

header {
    grid-column: 1/2;
    grid-row: 1/2;
}

#datos {
    grid-row: 3/4;
    grid-column: 1/2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    justify-self: center;
    padding-bottom: 25px;
}

#datos label{
    flex-basis: 100%;
    font-size: 6.5vw;
}

input[type="text"] {
    font-size: 5vw;
    flex-basis: 100%;
    border: 2px solid #850018;
    border-radius: 5px;
    margin-bottom: 20px;
    outline: none;
    background-color: #ebebeb;
    user-select: revert;
    padding: 10px;
}

textarea {
    font-size: 5vw;
    flex-basis: 100%;
    border: 2px solid #850018;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    margin-bottom: 20px;
    outline: none;
    background-color: #ebebeb;
    user-select: revert;
    resize: vertical;
}

input[type="file"] {
    flex-basis: 100%;
    font-size: 5vw;
    margin-bottom: 1em;
}

h1 {
    flex-basis: 100%;
    text-align: center;
    font-size: 10vw;
    grid-row: 2/3;
    grid-column: 1/2;
    margin: 0 0 15px 0;
}

select {
    font-size: 5vw;
    width: 100%;
    margin-bottom: 25px;
    background-color: #ebebeb;
    border: 2px solid #690000;
}

.selector {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type="submit"] {
    font-size: 8vw;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #690000;
    background-color: #850018;
    color: white;
    flex-basis: 100%;
}

input[type="submit"]:hover {
    transition: all .25s ease-out;
    background-color: #ac0018;
    color: white;
}

footer {
    grid-row: 4/5;
    grid-column: 1/2;
}

@media screen and (min-width: 769px) {
    header img{
        width: 25%;
    }

    #datos {
        width: 50%;
    }

    form input[type="submit"], form input[type="button"] {
        font-size: 2vw;
        padding: 10px 20px;
        margin-bottom: 30px;
    }

    form input[type="text"], textarea, input[type="file"] {
        padding: 5px 15px;
        font-size: 1.3vw;
    }

    h1 {
        font-size: 2vw;
        margin-bottom: 10px;
    }

    #datos label {
        width: 100%;
        margin: 0;
        font-size: 1.3vw;
    }

    .text {
        font-size: 23px;
    }

    .selector select {
        padding: 5px 15px;
        font-size: 30px;
        width: 100%;
    }
}