/* GENERAL */

* {
    box-sizing: border-box;
}

html,
body {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    font-family: Candara;
    font-size: 30px;
}

header {
    padding-top: 20px;
    padding-left: 20px;
    grid-column: 1/2;
    grid-row: 1/2;
}

header p {
    margin: 0;
    font-size: 24px;
}

header img {
    width: 50%;
}

footer {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #666666;
    padding: 5px 0px;
    grid-column: 1/2;
    grid-row: 4/5;
}

#divIconos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer p {
    margin: 0;
}

footer a {
    width: 10%;
    margin-right: 20px;
}

footer a img {
    width: 100%;
}

#contenedor {
    display: grid;
    grid-template-rows: 25% 15% 70% 14%;
    grid-template-columns: 100%;
}

/* CATEGORIA.PHP */
#anuncios {
    background-color: #cececa;
    padding: 20px;
    grid-template-columns: 1/2;
    grid-template-rows: 3/4;
}

.anuncio {
    padding: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.anuncio > * {
    width: 100%;
}

.anuncio img {
    width: 75%;
}

.anuncio p {
    line-height: 1.5em;
    width: 100%;
    font-size: 20px;
}

.anuncio h2 {
    margin: 0;
}
/* REGISTRO.PHP y LOGIN.PHP */

#contenedor2 {
    height: 130%;
    display: grid;
    grid-template-rows: 24% 1% 55% 14%;
    grid-template-columns: 100%;
}

form {
    font-size: 35px;
    line-height: 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-rows: 2/4;
    grid-template-columns: 1/2;
}

form p {
    text-align: center;
}

form h1 {
    text-align: center;
    margin-bottom: 100px;
    line-height: 1.3em;
}

form input[type="text"],
input[type="email"] {
    width: 80%;
    height: 80px;
    border: 2px solid black;
    margin-bottom: 50px;
    font-size: 30px;
    padding: 15px;
}

form input[type="button"] {
    width: 80%;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid black;
    font-size: 30px;
    margin: 50px 0px 100px 0px;
}

#divLogin {
    width: 100%;
    text-align: center;
}

#divLogin a {
    font-size: 50px;
    list-style: none;
}

#separar {
    height: 2px;
    background: black;
    width: 100%;
    margin-bottom: 100px;
}


/* INDEX.PHP */
nav {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

nav input[type="text"] {
    width: 75%;
    background: url("../img/lupa.svg") no-repeat 7px;
    padding: 5px;
    padding-left: 40px;
}

#botones {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#botones input[type="button"] {
    width: 30%;
}

#categorias {
    grid-column: 1/2;
    grid-row: 3/4;
}

#listaCategorias {
    width: 100%;
    list-style-type: none;
    padding: 15px;
}

.elementosCategorias {
    width: 100%;
    list-style-type: none;
    margin-bottom: 30px;
    padding: 10px;
    height: 30%;
}

.elementosCategorias img {
    width: 3%;
}

.elementosCategorias:hover {
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
}

.listaSubcategorias {
    width: 100%;
    display: none;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.elementosSubcategorias {
    width: 20%;
    list-style-type: none;
    line-height: 1.5em;
}

.flechaAbajo {
    width: 5%;
    float: right;
}

#flechaSubir {
    position: fixed;
    right: 20px;
    bottom: 150px;
}